.mrcnt-mrg-modal {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 570px;
}

.mrcnt-mrg-modal-body {
  padding: 0px 14px 0px 14px;
}

.mrcnt-mrg-order-type {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.mrcnt-mrg-order-type-btn {
  flex: 1;
  padding: 12px;
  background: var(--mrcnt-mrg-bg-tertiary);
  border: 1px solid var(--mrcnt-mrg-border-color);
  color: var(--mrcnt-mrg-text-secondary);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
}

.mrcnt-mrg-order-type-btn.mrcnt-mrg-active {
  background: var(--mrcnt-mrg-accent-yellow);
  color: #000;
  border-color: var(--mrcnt-mrg-accent-yellow);
}

.mrcnt-mrg-margin-btn {
  background: var(--mrcnt-mrg-bg-tertiary);
  border: 1px solid var(--mrcnt-mrg-border-color);
  color: var(--mrcnt-mrg-text-primary);
  padding: 14px;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.mrcnt-mrg-margin-btn:hover {
  border-color: var(--mrcnt-mrg-accent-yellow);
}

.mrcnt-mrg-leverage-control {
  margin-bottom: 20px;
}

.mrcnt-mrg-leverage-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 14px;
  color: var(--mrcnt-mrg-text-secondary);
}

.mrcnt-mrg-current-leverage {
  color: var(--mrcnt-mrg-text-primary);
  font-weight: 600;
}

.mrcnt-mrg-leverage-input {
  width: 100%;
  padding: 12px;
  background: var(--select-bg);
  border: 1px solid #97a6b36b;
  color: var(--font-color);
  font-size: 1rem;
  border-radius: 6px;
  color: var(--mrcnt-mrg-text-primary);
  font-size: 15px;
  margin-bottom: 16px;
}

.mrcnt-mrg-leverage-input:focus {
  outline: none;
  border-color: var(--mrcnt-mrg-accent-yellow);
}

.mrcnt-mrg-container {
  width: 100%;
  background: var(--select-bg);
  border: 1px solid #97a6b36b;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.mrcnt-mrg-street-container {
  position: relative;
  margin: 35px 0;
  padding: 0 21px;
}

.mrcnt-mrg-street-line {
  height: 1px;
  background: linear-gradient(90deg, #333 0%, #555 50%, #333 100%);
  border-radius: 2px;
  position: relative;
}

.mrcnt-mrg-street-line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  transform: translateY(-50%);
}

.mrcnt-mrg-rhombus-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.mrcnt-mrg-rhombus-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.mrcnt-mrg-rhombus {
  width: 10px;
  height: 10px;
  background: var(--mrcnt-mrg-rhombus-normal-bg);
  transform: rotate(45deg);
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  border: 1px solid #666;
  margin-bottom: 8px;
  top: 14px;
}

.mrcnt-mrg-rhombus:hover {
  background: #555;
}

.mrcnt-mrg-rhombus.mrcnt-mrg-active {
  background: var(--mrcnt-mrg-accent-yellow);
  border-color: var(--mrcnt-mrg-accent-yellow);
}

.mrcnt-mrg-rhombus-value {
  color: var(--mrcnt-mrg-text-secondary);
  font-weight: 600;
  font-size: 0.9rem;
  white-space: nowrap;
  position: relative;
  top: 15px;
  transform: none;
  transition: color 0.3s ease;
}

.mrcnt-mrg-rhombus-value.mrcnt-mrg-active {
  color: var(--mrcnt-mrg-text-primary);
}

.mrcnt-mrg-selection-indicator {
  position: absolute;
  top: 50%;
  left: -6px;
  height: 1px;
  background: var(--mrcnt-mrg-accent-yellow);
  transform: translateY(-50%);
  transition: all 0.4s ease;
  z-index: 1;
  opacity: 0;
}
.mrcnt-mrg-modal-footer {
  display: flex;
  gap: 12px;
}

.mrcnt-mrg-btn {
  padding: 6px 6px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.mrcnt-mrg-btn-cancel {
  flex: 1;
  background: var(--mrcnt-mrg-bg-tertiary);
  color: var(--mrcnt-mrg-text-primary);
  border: 1px solid var(--mrcnt-mrg-border-color);
}

.mrcnt-mrg-btn-cancel:hover {
  background: var(--mrcnt-mrg-border-color);
}

.mrcnt-mrg-btn-confirm {
  flex: 1;
  background: var(--mrcnt-mrg-accent-yellow);
  color: #000;
  font-weight: 600;
}

.mrcnt-mrg-btn-confirm:hover {
  background: #f5c542;
}
